
/* https://www.happyhues.co/palettes */
$Elements_Background :#fffffe;
$Elements_Headline:#181818;
$Elements_Paragraph:#2e2e2e;
$Elements_Button:#4fc4cf;
$Elements_Buttontext:#181818;
$Elements_Links:#4fc4cf;
$Illustration_Stroke:#181818;
$Illustration_Main:#f2eef5;
$Illustration_Highlight:#4fc4cf;
$Illustration_Secondary:#682eae ;
$Illustration_SecondaryHover:#240648 ;
$Illustration_Tertiary:#fbdd74;